$primary-normal: #18230F;
$primary-dark: #0F180A;
$primary-light: #2E3A1A;

$secondary-normal: #232224;
$secondary-dark: #161617;
$secondary-light: #353436;

$white-normal: #FFFFFF;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;