* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "Partials/_colors";
@import "Partials/_header";
@import "Partials/_layout";
@import "Partials/_partner";
@import "Partials/_services";
@import "Partials/_about";
@import "Partials/_footer";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $primary-dark;
    overflow-x: hidden;
}

button {
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}

svg {
    width: 100%;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}